.btn {
  height: 60px;
  width: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #cdcccc;
}

#start_button {
  margin: 10px;
}

.off {
  background-color: green;
}

.on {
  background-color: red;
}
